<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

      <ul>
        <li><a href="/adminHome">HOME</a></li>
        <li class="active"><a href="/customerDetails">CUSTOMERS</a></li>
        <li><a href="/adminStore">STORE</a></li>
        <li><a href="/adminWorkout">WORKOUTS</a></li>
        <li><a href="/login">TRAINERS</a></li>
        <li><a href="/index">LOGOUT</a></li>
      </ul>
    </div>
  </header>
  <section class="customerDetails">
    
   
    <table class="table">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">PHONE</th>
      <th scope="col">WEIGHT</th>
      <th scope="col">HEIGHT</th>
      <th scope="col">TRAINER</th>
    </tr>
  </thead>
  <tbody>
     {{#each usersList}}
        <tr>
            <td>{{ this.name}}</td>
            <td>{{ this.address}}</td>
            <td>{{ this.phone}}</td> 
            <td>{{ this.weight}}</td>
            <td>{{ this.height}}</td> 
            <td>{{ this.trainer}}</td>          
        </tr>
     {{/each}}
    
  </tbody>
</table>
    
  </section>
</body>
</html>